@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode */
  --background-rgb: 246, 246, 246;
  --foreground-rgb: 15, 15, 15;
  --foreground-gray-rgb: 119, 119, 119;
  --foreground-green: 72, 190, 43;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode */
    --background-rgb: 15, 15, 15;
    --foreground-rgb: 246, 246, 246;
    --foreground-gray-rgb: 153, 153, 153;
    --foreground-green: 72, 190, 43;
  }
}




body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

* {
  font-family: var(--manrope-font);
}

span {
  font-family: var(--lora-font);
}



@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px white;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  h1 {
    @apply text-5xl font-semibold leading-[1.6] tracking-tighter text-transparent text-gradient
  }

  p {
    @apply text-[#383838] font-medium text-center tracking-tight text-[1.125rem] leading-7
  }

  @media(max-width: 768px) {
    h1 {
      @apply leading-[1.2]
    }
  }

  @media (prefers-color-scheme:dark) {
    p {
      @apply text-[#adadad]
    }
  }
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-[#0f0f0f] to-[#777777] bg-clip-text
  }

  @media(prefers-color-scheme:dark) {
    .text-gradient {
      @apply bg-gradient-to-r from-[#f8f8f8] to-[#999999]
    }
  }
}