@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background-rgb: 15, 15, 15;
  --foreground-rgb: 246, 246, 246;
  --foreground-gray-rgb: 153, 153, 153;
  --foreground-green: 72, 190, 43;
}






body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

* {
  font-family: var(--manrope-font);
}





@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px white;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  h1 {
    @apply text-[2rem] -tracking-[2px] md:leading-[1.25] md:-tracking-[3.5px] md:text-[4rem] text-transparent text-gradient
  }

  p {
    @apply text-[#383838] font-medium text-center tracking-tight text-[1.125rem] leading-7
  }

  @media(max-width: 768px) {
    h1 {
      @apply leading-[1.2]
    }
  }

  @media (prefers-color-scheme:dark) {
    p {
      @apply text-[#b6b6b6]
    }
  }
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-[#0f0f0f] to-[#777777] bg-clip-text
  }


  .lora-font {
    font-family: var(--lora-font);
  }

  .nav-gradient {
    @apply bg-gradient-to-r from-[#141414]/5 to-[#1b1b1b]/5
  }

  .outer-grid {
    @apply grid grid-cols-4 gap-[0.5rem] md:grid-cols-12 md:gap-[0.75rem]
  }

  .inner-grid {
    @apply col-start-2 col-end-5 gap-[0.5rem] md:col-start-3 md:col-end-11
  }

  @media(prefers-color-scheme:dark) {
    .text-gradient {
      @apply bg-gradient-to-r from-[#f8f8f8] to-[#999999]
    }

    .nav-gradient {
      @apply bg-gradient-to-r from-[#141414]/80 to-[#1b1b1b]/80
    }
  }


}