@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background-rgb: 0, 0, 0;
  --foreground-rgb: 246, 246, 246;
  --foreground-gray-rgb: 153, 153, 153;

}






body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

* {
  font-family: var(--manrope-font);
}





@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px white;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  h1 {
    @apply text-[2rem] -tracking-[2px] md:leading-[1.25] md:-tracking-[3.5px] md:text-[3.5rem] text-transparent text-gradient
  }

  h2 {
    @apply text-[1.5rem] md:text-[2rem] uppercase -tracking-[1px] leading-[1.25] text-gradient text-transparent font-medium
  }

  p {
    @apply text-[#c0c0c0] font-normal text-center -tracking-[0.5px] text-[1rem] md:text-[1.125rem] leading-[1.5]
  }

  @media(max-width: 768px) {
    h1 {
      @apply leading-[1.2]
    }
  }

}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-[#f8f8f8] to-[#999999] bg-clip-text
  }


  .lora-font {
    font-family: var(--lora-font);
    font-weight: 100;
  }

  .nav-gradient {
    @apply bg-gradient-to-r from-[#141414]/80 to-[#1b1b1b]/80
  }

  .outer-grid {
    @apply grid grid-cols-4 gap-[0.5rem] md:grid-cols-12 md:gap-[0.75rem]
  }

  .inner-grid {
    @apply col-start-2 col-end-5 gap-[0.5rem] md:col-start-3 md:col-end-11
  }

  .card-gradient {
    @apply bg-gradient-to-b from-[#131313] to-[#1a1a1a]
  }

  .card-stroke-gradient {
    @apply bg-gradient-to-r via-[#74cdff] from-[#0087d2]/5 to-[#0087d2]/5
  }


}